<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gui_f.noctua">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.gui_f.view.noctua.Activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.gui_f.view.noctua.Activity.NewUserStep1Activity"
            android:label="@string/title_activity_new_user_step1"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.example.gui_f.view.noctua.Activity.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.gui_f.view.noctua.Activity.LoginActivity"/>
        </activity>
        <activity
            android:name="com.example.gui_f.view.noctua.Activity.NewUserStep2Activity"
            android:label="@string/title_activity_new_user_step2"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.example.gui_f.view.noctua.Activity.NewUserStep1Activity"/>
        <activity
            android:name="com.example.gui_f.view.noctua.Activity.MainScreenActivity"
            android:label="@string/title_activity_main_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.gui_f.view.noctua.Activity.DiaryActivity"
            android:label="@string/title_activity_diary"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.example.gui_f.view.noctua.Activity.MainScreenActivity"/>
        <activity
            android:name="com.example.gui_f.view.noctua.Activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.example.gui_f.view.noctua.Activity.MainScreenActivity"/>
        <activity
            android:name="com.example.gui_f.view.noctua.Activity.RegisterResponsibleActivity"
            android:label="@string/title_activity_register_responsible"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.example.gui_f.view.noctua.Activity.RegisterActivity"/>
        <activity
            android:name="com.example.gui_f.view.noctua.Activity.PasswordActivity"
            android:label="@string/title_activity_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.gui_f.view.noctua.Activity.RecordActivity"
            android:label="@string/title_activity_record"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.example.gui_f.view.noctua.Activity.MainScreenActivity"/>

        <service android:name="com.example.gui_f.model.noctua.Notifications.NotificationsService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.example.gui_f.view.noctua.Activity.FirstAidActivity"
            android:label="@string/title_activity_first_aid"
            android:parentActivityName="com.example.gui_f.view.noctua.Activity.MainScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.gui_f.view.noctua.Activity.MainScreenActivity" />
        </activity>
    </application>

</manifest>