<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gui_f.noctua">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.gui_f.view.noctua.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.gui_f.view.noctua.NewUserStep1"
            android:label="@string/title_activity_new_user_step1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.gui_f.view.noctua.NewUserStep2"
            android:label="@string/title_activity_new_user_step2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.gui_f.view.noctua.MainScreenActivity"
            android:label="@string/title_activity_main_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.gui_f.view.noctua.DiaryActivity"
            android:label="@string/title_activity_diary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.gui_f.view.noctua.Register"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.gui_f.view.noctua.RegisterResponsible"
            android:label="@string/title_activity_register_responsible"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.gui_f.view.noctua.Password"
            android:label="@string/title_activity_password"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>